/* 
.candidaturas-content{
} */

.page-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.candidaturas-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-link.active {
    background-color: #d3d3d3;
}

.form-candidaturas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 20px;
}

.form-candidaturas form {
    width: 100%;
}

.form-candidaturas .inputs-wrapper {
    width: 100%;
}

.form-candidaturas .vaga-inputs-wrapper {
    width: 300px;
    margin-right: 20px;
}

.form-candidaturas .pessoa-inputs-wrapper {
    width: 300px;
    margin-right: 20px;
}


.action-buttons button {
    margin: 2px;
}

html body .candidaturas-content button:hover {
    border: 1px solid black;
}

.candidaturas-list table tbody tr td:nth-child(5){
    border-right: 1px solid #d3d3d3;
}

.candidaturas-list table tbody tr td:nth-child(9){
    border-right: 1px solid #d3d3d3;
}

.form-candidaturas .inputs-wrapper {
    display: flex;
    flex-direction: row;
}




















/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    min-height: 70px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f6f6f6;
    width: 300px;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 250px;
    overflow: auto;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    z-index: 10;
    display: none;
}

.dropdown-content input:focus ~ a {
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #d3d3d3
}
  
  
